[2018-02-05 23:15] complexpotato opened #1 "..."
![doublechinfreak](https://user-images.githubusercontent.com/33967054/35833719-4e5013be-0aa0-11e8-8cdf-da853aa2bd19.JPG)

Looks like you never knew about that github sends me an email when commented...
At least next time just imagine, not commenting and deleting. All other people would have saw that too by now.

[2018-02-06 03:29] antony-jr commented on #1
@Juniorn1003 I know exactly how a Mailing list works.... Infact Before even github , git used this feature.

And Please see that **Only you get the email**. , I made sure that **no one sees that** ( Atleast those who did not enable email notification on all participating threads ). I really don't want to discourage you. But its really annoying when people do or say stuff they don't really know. In

[2018-02-08 18:18] antony-jr commented on #1
Next time you do anything please follow these guidlines,

📝 Use a succinct title and description.
😊 Be nice, civil and polite.
😍 If you include at least one emoji in your question, the feedback will probably come faster.

Next Time then... 👍

[2018-02-09 14:45] #1 closed, assigned to nobody

[2018-03-01 05:12] RobAnKo opened #2 "Instagram-Py"
Hi Antony!

I have one issue, leading to two questions I have to ask you.

1. You mentioned in a comment reply on wonderhowto nullbyte that "we can only hack an active target , Why ? Because brute force attack always blocks the account."
The point is that I seriously have the best intentions;) I want to hack my gf's instagram account (with her approval) because she is can't log in anymore (reason

[2018-03-01 17:16] antony-jr commented on #2
Hey @RobAnKo

The point is that I seriously have the best intentions;) I want to hack my gf's instagram account (with her approval) because she is can't log in anymore (reason unknown, old password that used to work doesn't work anymore, hacking improbable). The nonexistent support service won't help her (I guess it's bots), but she really wants to get it back. Is your tool applicable to the situa

[2018-03-01 18:16] antony-jr commented on #2
If you are good with python , You can craft your own attack scripts with Instagram-Py Scripting... Like send a message to your phone when a account is hacked and multiple attack vectors in a single thread.

Refer [here](https://github.com/antony-jr/instagram-py#instagram-py-scripting) for more information. I'm pretty sure that this feature is amazing.

**Example:**
[code]

Mark it executable and e

[2018-03-02 00:07] gertrump opened #3 "hi there"
is it stil able to get a password from an apple ID i have no expierence with computers

[2018-03-02 09:20] antony-jr commented on #3
Hey @gertrump

I never got my hands on any Apple Product , **Sorry...**. But the vulnerability in ICloud is cleared now , So I think you cannot get a password from an apple ID.

[2018-03-02 09:20] #3 closed, assigned to nobody

[2018-03-03 02:45] Annedwards opened #4 "Willing to pay!!"
Hi, I was wondering if it would be possible for you to hack an Instagram account for me and I pay you for your services. I don’t know a thing about hacking but I’m desperate so please help!

[2018-03-03 04:42] antony-jr commented on #4
Hey  @Annedwards

I'm not really a professional pentester. I just build authentic tools and I care more about the code taste. If you see my bio on github , I always wanted to be **Computer Scientist** and if you know computer science , Hacking is a very small part in that. If you want that kind of service , You could just post this **request** on [freelancer](https://www.freelancer.com/) , You can

[2018-03-03 04:45] #2 closed, assigned to nobody

[2018-03-03 04:45] #4 closed, assigned to nobody

[2018-03-04 20:06] losangelesraiders17 opened #5 "Help"
Hello I’m stuck and don’t know how to enter the username and how to get passwords I’ve done everything else but I don’t know how to enter this last step can you please help I get fatal error password list not found but I’m sure I’m entering all wrong

[2018-03-09 05:22] justanoob1 opened #6 "how to run instagram-py on mac ?"
Hi,

I am using a mac to try to use the Instagram program u created, however I am not sure what I am doing. I'm a noob to this stuff. Can you help me please?

[2018-03-09 05:50] antony-jr commented on #6
Hey @justanoob1

Its possible to run **Instagram-Py** on mac but its bit **tricky**.
Please see that I do not own a mac and so I cannot test the script on mac but I think
it can work because MacOSX is unix under the hood.

# Install Tor for MacOSX
You need to install **homebrew** , you can always google on 'how to install homebrew'.
**After installing homebrew** , execute this command in your term

[2018-03-09 05:52] justanoob1 commented on #6
... excuse my ignorance.

What is a terminal? What do I do with those codes? Do I paste them into one page?

[2018-03-09 06:00] antony-jr commented on #6
Hmm... Thats really the basics in doing hacking stuff with mac , I think you need to google everything , **these codes** has to be typed in the terminal **without** the **'$'** symbol , The **'$'** symbol represents a terminal command...

**Terminal is a program in mac**.

[2018-03-09 06:02] justanoob1 commented on #6
Awesome, I am definitely googling as I read, however one last question. I'm assuming the terminal is the page where the codes exists, however when opening your files I see multiple with different codes. Do I keep everything in one page? Which is the main file I should focus on in Instagram-Py?

[2018-03-09 06:06] antony-jr commented on #6
@justanoob1 What page are you talking about , **Terminal is a program which executes commands line by line as you enter** , type a command and just press enter.
**YOU DON'T NEED TO DOWNLOAD INSTAGRAM-PY ANYWHERE JUST EXECUTE THE COMMAND THAT I GAVE IN THE 'INSTALLING INSTAGRAM-PY' SECTION ABOVE**.

[2018-03-09 06:08] antony-jr commented on #6
@justanoob1 take a look here https://www.youtube.com/watch?v=ftJoIN_OADc , to get a idea on what is a **Terminal**.

[2018-03-09 06:13] justanoob1 commented on #6
Thank you, I am watching the video now as we speak.

[2018-03-09 06:14] justanoob1 commented on #6
Will I be able to give you the Instagram I am trying to access? I believe my fiance is cheating on me and I want to find out.

[2018-03-09 06:15] antony-jr commented on #6
@justanoob1 sorry but I suppose that service is kind of illegal if I do it... So you have to do it.. You can ask a freelancer to do it.. ( I think ? )

[2018-03-09 06:21] justanoob1 commented on #6
can I rephrase the question? I am in dire need of help and currently seeking a freelancer. Can you recommend one?

[2018-03-09 06:23] antony-jr commented on #6
@justanoob1 Please see that brute force only has a **50 Percentage probability!** , you can get a freelancer here https://freelancer.com/

[2018-03-09 06:24] justanoob1 commented on #6
have u had any luck with the brute force?

[2018-03-09 06:26] antony-jr commented on #6
4 / 10 Accounts I guess , **Brute Force** is just a method and there are millions of methods , like a metasploit exploit where you just need to install a app to spy everything on ones phone , its really awesome than brute force...

[2018-03-09 06:29] justanoob1 commented on #6
Where can I find this metasploit?

[2018-03-09 06:30] antony-jr commented on #6
here https://www.metasploit.com/ but its a tool just like instagram-py but it has guides on mac too...

[2018-03-09 06:31] justanoob1 commented on #6
thank u!

[2018-03-09 06:38] justanoob1 commented on #6
Im almost done with the brute force, where do I upload the information for it to start working?

[2018-03-09 06:39] antony-jr commented on #6
I dont get you , what information ?

[2018-03-09 06:41] antony-jr commented on #6
Okay @justanoob1 I think I need to go... I hope everything works with you , I'm in a hurry.... See ya! later..

[2018-03-09 19:01] JujuX97 opened #7 "Instagram"
Hey i'm Julian, My Instagram was hacked and I really need help getting it back. I'm not good at computer stuff I was wondering if you could do it for me, or guide me.

[2018-03-10 08:06] #6 closed, assigned to nobody

[2018-03-10 08:11] antony-jr commented on #7
Sorry and thank you for considering me as a help but unfortunately,I cannot do these kind of service.I recommend you to visit https://freelancer.com or see guides on instagram-py on youtube ( Just search instagram-py ).

[2018-03-20 20:42] ghost opened #8 "Please help me with Instagram-py."
Sir,
Please help me with your Instagram-py script as when i try to enter this in terminal: [ apt-get install python3-pip ] it says unable to locate package python3-pip.

[2018-03-20 21:41] antony-jr commented on #8
Hey @Deathhacker ,
I think you need to upgrade your os , You can do so by the following command.

[code]

and then follow the installation guide , here is the project page -> https://github.com/antony-jr/instagram-py

[2018-03-24 15:57] pranjal123saxena opened #9 "Instagram-py"
Hi Antony,
Everything went smoothly upto the last step, then it says

 fatal error: can't find the password list

Do we have to use anything else in place of  password_list.txt?
_ can you please help me and rewrite the last line of the programme for me? Please? Also can you please tell me if I want to use some other wordlist document what should I do? Like if you update a new document then what ch

[2018-03-24 16:03] pranjal123saxena commented on #9
Talking about the Kali Linux here. Thanks again.

[2018-03-24 17:18] antony-jr commented on #9
@pranjal123saxena You have to mention the path to a list of passwords , example , If you have a list of passwords in a text file called **rockyou.txt** then you have to replace **password_list.txt** with the path to **rockyou.txt**

``` instagram-py -u targetaccount -pl /path/to/password/list ```

There is no need to change any source , you have to mention the path to the wordlist...

[2018-03-24 18:48] pranjal123saxena commented on #9
Can you suggest me some good password lists? and by 'you have' means I have to download a word list in .txt format while using live Kali on my PC right??

[2018-03-24 18:49] pranjal123saxena commented on #9
And now while restarting the Kali Linux, do I have to do the whole procedure again from the very start?

[2018-03-24 18:59] pranjal123saxena commented on #9
Just one more thing..I know I am annoying you but I am a complete moron when it comes to coding! Do we have to save this password list in any specific folder or just downloading it to the PC will do the work?

[2018-03-25 10:07] antony-jr commented on #9
@pranjal123saxena You can use any password list from anywhere located in your PC , **rockyou.txt** is a default wordlist present somewhere in **Kali Linux**.. Yes If you live boot then you have to install instagram-py everytime but using presistance will save you that time. One feature of instagram-py is to resume attacks but you must enable presistance for that too...

[2018-03-25 10:07] antony-jr commented on #9
@pranjal123saxena You can even do a sniper attack if you want!

[2018-03-27 06:51] ruch-24 opened #10 "Account"
I need to hack an instagram password to recover it, can you help?

[2018-03-27 13:10] #8 closed, assigned to nobody

[2018-03-27 13:11] antony-jr commented on #10
Sorry but this will be your answer -> https://github.com/antony-jr/ama/issues/4

[2018-03-27 13:11] #10 closed, assigned to nobody

[2018-03-27 13:11] #7 closed, assigned to nobody

[2018-03-30 01:34] pranjal123saxena commented on #9
when i enter the command "service tor status" it gets disruptly closed without showing a new line to type what to do now??
![img_20180330_065323027](https://user-images.githubusercontent.com/37745131/38120782-6e285bd6-33ba-11e8-923b-43db68b4b212.jpg)

[2018-03-30 03:50] antony-jr commented on #9
CC: @pranjal123saxena

**Linux Basics:** press **'q'** to quit.

[2018-03-30 04:58] pranjal123saxena commented on #9
Tried doing that. It says "Invalid tor configuration or server down [Errno 111] connection refused."

[2018-03-30 07:48] pranjal123saxena commented on #9
It's still showing invalid configuration or server down like that first line in the above uploaded image. What to do now?

[2018-03-30 08:31] antony-jr commented on #9
@pranjal123saxena This issue is the most asked , Here is a issue where this is solved... https://github.com/antony-jr/instagram-py/issues/3 , Please try the methods I have suggested in the discussion.

[2018-03-30 16:40] pranjal123saxena commented on #9
I am not getting how to install this tor browser..nothing else is working and since I am running Kali linux live and logged in as root..it says access denied something..I am totally confused now..I desperately need this..but I am not able to make it work! The to server is not opening any port as the case with that guy..but I didn't understand how he managed to make it work

[2018-03-30 17:23] antony-jr commented on #9
@pranjal123saxena I will take your case into consideration as to make the tool more easier to use. Could you wait a day or so till the release ? The resultant will be a single executable which will take care of all tor stuff inside itself , sounds good ?

So Please wait a bit... I'm openning a issue(https://github.com/antony-jr/instagram-py/issues/6) on your behalf. :+1:

[2018-03-30 17:39] pranjal123saxena commented on #9
Thank you so much Antony :))

[2018-03-31 02:55] Teokyun opened #11 "Custom Worldlist"
How do i add a custom worldlist on your passwordlist? Because i can provide specific passlist on my target.

[2018-03-31 04:31] antony-jr commented on #11
@Teokyun This is command line basics , just mention the path to any text file with a list of passwords... Like this ``` $ instagram-py -u target_username -pl /your/path/to/your/custompasswordlist ```

[2018-03-31 21:14] antony-jr commented on #9
@pranjal123saxena Here is the ultra portable version , You **don't even need python or tor server installed** (*Run it in live boot of Kali Linux 64 Bits*).

Just execute this command to install instagram-py , You **don't need to configure anything** , Cool right ?
**You can do this in any Linux Distro which is 64 Bit** (*So go wild!*)

[code]

Read more about this on the official repo -> https://

[2018-03-31 21:14] #9 closed, assigned to nobody

[2018-03-31 21:35] antony-jr commented on #11
@Teokyun I think you are pretty new to this but work hard to get a grasp! If you ever need help , open a issue at the official repo (https://github.com/antony-jr/instagram-py) , Do check the new **Instagram-Py Portable** which available at the **official repo**.  ( Portable version does not need to setup anything , even python and tor , just download and start using it!)

Thank You for your time!

[2018-03-31 21:35] #11 closed, assigned to nobody

[2018-04-01 05:45] Teokyun opened #12 "Problems"
![img_0869](https://user-images.githubusercontent.com/37946764/38170255-c45c30e6-35b2-11e8-81cd-9e3fb9f509a8.JPG)
![img_0870](https://user-images.githubusercontent.com/37946764/38170256-c4c940dc-35b2-11e8-910b-6040c585f928.JPG)
I cant install python 3 and also the instagram py. Please help

[2018-04-01 14:07] Teokyun commented on #11
Please make a video on youtube for full tutorial of instagram py portable
step by step and making custom wordlist if possible. I'll give you PUBG
gift on steam. I just really need your help man.

[2018-04-01 20:34] antony-jr commented on #12
@Teokyun No need to install or configure anything now , Checkout **Instagram-Py Portable**.

# Get Instagram-Py with Zero Setup ( Instagram-Py Portable )

Just execute this **single command and you will have everything to start using Instagram-Py** right-away! This Method is only possible for **Linux Distro's with 64Bit Architecture** (*Any Linux Distro which is 64 Bit*). If you use this method...

[2018-04-01 20:36] antony-jr commented on #11
@Teokyun No need for money and I'dont have steam , I will make a youtube video soon!

[2018-04-02 02:06] antony-jr commented on #11
@Teokyun  Here is the video on the usage of **Instagram-Py Portable** , https://www.youtube.com/watch?v=nNfSyI_Q9SM

[2018-04-02 02:08] antony-jr commented on #12
Here is a video guide on the usage of **Instagram-Py Portable** , https://www.youtube.com/watch?v=nNfSyI_Q9SM

[2018-04-02 02:08] #12 closed, assigned to nobody

[2018-04-02 05:04] Teokyun commented on #12
On Mon, 2 Apr 2018 at 10:08 AM Antony jr <notifications@github.com> wrote:

Thanks for all things that you've done bro. I really appreciate that, but i
cant seem to make it work. I cant locate the wordlist and also how do i
make a wordlist that can combine all the info like for example i type a
name like gordon and cruz how do i make bruteforce combine it like
gordoncruz or cruzgordon?

[2018-04-02 05:08] antony-jr commented on #12
@Teokyun you can do it with this tool -> https://github.com/Mebus/cupp

[2018-04-02 05:09] Teokyun commented on #12
On Mon, 2 Apr 2018 at 1:08 PM Antony jr <notifications@github.com> wrote:

I actually did use that bro and i think it worked. But i cant locate the
file that i made and it doesnt combine all the words.

[2018-04-02 05:17] antony-jr commented on #12
@Teokyun Try this ,
Go to the folder where you created with file explorer and then right click on the file explorer and click open a terminal here.
In that terminal execute this command.
[code]
 Now go to the Instagram-Py location and execute...

[code]
 Thats it.

[2018-04-02 05:23] Teokyun commented on #12
On Mon, 2 Apr 2018 at 1:17 PM Antony jr <notifications@github.com> wrote:

I actually tried that, but it always says no such file or directory

[2018-04-02 05:26] antony-jr commented on #12
@Teokyun could you post me the command that you are executing with **Instagram-Py** ?

[2018-04-02 06:34] Teokyun commented on #12
Bro i made it work, but how did you stop it like you did in the video?
Typing -c doesnt work

[2018-04-02 06:36] Teokyun commented on #12
On Mon, 2 Apr 2018 at 2:34 PM Username Checkout <teokuun@gmail.com> wrote:

How did you abort it?

[2018-04-02 10:58] antony-jr commented on #12
@Teokyun Press **Ctrl+C** to exit any terminal based programs in linux.

[2018-04-02 11:01] Teokyun commented on #12
On Mon, 2 Apr 2018 at 6:58 PM Antony jr <notifications@github.com> wrote:

Thanks! Is it possible to fasten up the brutefroce? Or is it based on my
CPU?

[2018-04-02 11:03] antony-jr commented on #12
@Teokyun Since its brute forcing an online service , I think your internet speed decides your performance of the brute force attack.

[2018-04-16 20:07] toraonion opened #13 "Don't really know how to use as API"
Hi,

I am learning python, I create my own simple script for example like this:

[code]
Is it enough to run my own script? I don't want to hack stuffs. I just don't want to Insta to block when do things.

Do I need to put the whole section as in your API instruction below?

[code]

[2018-04-17 01:23] antony-jr commented on #13
Hey @toraonion ,
The API is only for hacking stuff (Like test if the password is correct with instagram blocking you for many tries)  , If you need a **complete API** for doing **Instagram** stuff without the **official API** use this project -> https://github.com/LevPasha/Instagram-API-python

[2018-04-17 04:13] toraonion commented on #13
@antony-jr Thanks for answer, I know that API, but I would like to use your API to bypass the blocking when trying to do many tasks in short time.

Is there any way to implement?

[2018-04-18 02:24] antony-jr commented on #13
@toraonion Thats not possible until the **other API** is re-implemented with **instagram-py's** algorithm. That is to hop to different ip's (Using Tor ) when a request is blocked ( And to distinguish between blocked request and wrong request is hard but the algorithm will take care of that ). **Maybe we could fork the project and patch it ?** ( Thats the only way to implement what you want , *To t

[2018-04-18 04:46] toraonion commented on #13
@antony-jr I think forking that API to apply instagram-py's algorithm is the way. However, what I concern is:
- When you are **not logged in**, then in-py's algo is easier to implement. Since Insta can only base on IPs to block request.
- But, when **logged in** to do tasks, in-py's algo might be **(I think)** not usable. Why? because, **Insta can block requests base on username** or tasks.

Resea

[2018-04-18 09:42] antony-jr commented on #13
@toraonion  You are correct , How about this project [InstaPy](https://github.com/timgrossmann/InstaPy) , Its a bot which uses selenium and so it will not limit us from doing stuff(I think) , Maybe instead of doing it all-over we need to experiment with **InstaPy** first.

[2018-04-18 14:59] toraonion commented on #13
@antony-jr I already researched that project too. However, the same with most insta APIs, users need to specify the sleep time, task duration, and/or sessions, etc. to randomize the request time to bypass insta block.

When I discover your concept, I find it's very new, fresh and cool approach. Because with your concept, there won't be any sleep time (or maybe just 1-2 seconds pausing max), then t

[2018-04-18 22:47] antony-jr commented on #13
@toraonion I need to do some research on this first.

[2018-04-19 01:30] toraonion commented on #13
@antony-jr Yep, will let you know if I can find something.

[2018-05-03 13:26] DinithEzra opened #15 "Instagram hack brute force"
heyy bro i really need ure help !! i tried the brute force hacking but an error occurred. !! Anyway if ure not busy can u please hack the password of this instagram account for me
 Account username :  _ judyperera_

the error says the password list couldn't found !! in the "apt-get install python3-setuptools"

im just curious to get the password !!

[2018-05-03 14:17] antony-jr commented on #15
@DinithEzra If you use instagram-py **portable version** then you must use **absolute path for password list** (i.e) Wordlist/password.lst (relative path) -> /home/root/Desktop/Wordlist/password.lst (absolute path) , And **I really recommend you to use the portable version , Follow the instructions at the official repo** -> https://github.com/antony-jr/instagram-py , Or if you are a visual learner

[2018-05-03 14:17] #15 closed, assigned to nobody

[2018-05-04 00:18] DinithEzra commented on #15
kk thanks bro ..... i ll try and let u know !!! thank u very much for the info.

[2018-05-04 13:10] DinithEzra commented on #15
@antony-jr Bro i used this link https://github.com/thelinuxchoice/instashell and followed up the evry single step ! when i typed "sudo ./install.sh"in the terminal its says "installing Tor please wait" that's it I've waited 2 hrs nothing happed that's all !!

[2018-05-04 13:34] antony-jr commented on #15
@DinithEzra Please Report this on the author's issue tracker , https://github.com/thelinuxchoice/instashell/issues , I can't do anything about the errors on his script.

Did you try **'instagram-py portable'** ? Give it a try. (Make sure you are not running any tor server when you run the portable version ).

[2018-05-11 18:54] antony-jr commented on #13
@toraonion Sorry for the delay , Did you try this -> https://github.com/althonos/InstaLooter

It has a feature called **Batch Mode** , which does what you want.

[2018-05-12 01:58] ghost opened #16 "qarchive question"
So, today I stumbled upon your lib QArchive and decided to try it for myself. But I can't get it work. Can you confirm if it works for you?
I'm running latest Mint distro, latest Qt (5.10.1) and I have libarchive installed. I am trying to run code from  your examples but it doesn't work. Am I doing something wrong?

[2018-05-12 02:03] ghost commented on #16
Nevermind, I got it. But still, example code doesn't seem to work. So yeah, you might want to recheck that one.

[2018-05-12 06:42] sunshiner0ses opened #17 "Hey! 😥"
I respect your work a lot and I've seen many good things about your creation of Instagram-py and honestly i know u dropped the case but i really do need your help..

it would mean the world if u could help me get an account, it isn't really for ill will but yea i hope you'll get back to me, thank u.

[2018-05-12 10:12] antony-jr commented on #16
Thank you for the point out , Will check that out.

[2018-05-12 10:14] antony-jr commented on #17
@sunshiner0ses  Well science is a **double edged sword** , So whats up ?

[2018-05-12 10:24] antony-jr commented on #16
@Senarce By **not working** , do you mean that it does not compile ? I guess I did not mention it in the readme , Older versions of **libarchive** ( < 3.3.2 ) will **not have password support** since libarchive is doing encryption as a experimental thing. So if you have a older version of libarchive which does not support passwords then the example compile will fail , I think I can fix this by a `

[2018-05-12 11:52] ghost commented on #16
Yeah, my bad, I should've explained it in detail. I was following guide on GH pages and when I tried this one: https://antony-jr.github.io/QArchive/docs/UsingExtractor.html it didn't work. It did compile but did nothing. I imagine something wrong with `setFunc()`. But then I decided to try `connect()` from `QObject `and it worked like a charm.

[2018-05-12 13:41] antony-jr commented on #16
@Senarce Thanks , I just checked it and it really did not work , It will be fixed soon.

[2018-05-12 13:47] antony-jr commented on #16
The thing is that ```setFunc``` works but does not work only on that specific code.

[2018-05-12 14:15] antony-jr commented on #16
The code works if I declare it explicitly , like this -> ``` QArchive::Extractor Extractor("test.7z"); ``` and then do the extraction. So I suppose this is a limitation with **signal and slots** ? Soon will update the examples in the documentation.

[2018-05-12 14:35] antony-jr commented on #16
@Senarce Updated the documentation , Make sure to clear your cache else you will see the old documentation ( This is done by your browser for optimization ). **Thank You for reporting the issue**.

[2018-05-12 14:35] #16 closed, assigned to nobody

[2018-05-15 16:04] Demaiomr opened #18 "IG Instagram-Py"
Antony,

I have questions about the Instagram-Py. Is an email I address I can contact you through?

[2018-05-15 16:14] antony-jr commented on #18
@Demaiomr You can contact me through , antonyjr@protonmail.com

[2018-05-15 16:14] #18 closed, assigned to nobody

[2018-06-16 20:33] juliusze opened #20 "help"
hi im not a hacker or anything and i am really confused. are u able to guide me through private message or help me with this process. i just came across this web page and it seems pretty cool. thanks man

[2018-06-17 19:37] magicfoxseh opened #21 "Need help with IG access"
Hey Anthony, I am really foreign to this but was recommended to you from a friend. I need help with this on a personal issue - can you send me a link to where i can contact you privately ?

Hear from you soon!

Thank you

[2018-06-18 12:10] antony-jr commented on #20
I think you can contact me through my email , antonyjr@protonmail.com

[2018-06-18 12:10] #20 closed, assigned to nobody

[2018-06-18 12:12] antony-jr commented on #21
I think you can contact me through my email , antonyjr@protonmail.com or at twitter , https://twitter.com/antonyjr0

[2018-06-18 12:12] #21 closed, assigned to nobody

[2018-06-19 00:02] magicfoxseh commented on #21
Thank you - sent you an email

[2018-06-21 10:19] infinitywxrd opened #22 "For config invalid or server down"
Hi I’m having the same problem as the last guy but it keeps saying for configuration invalid or server down : : [errno 111] connection refused, I have tried everything you said in the previous post. Please get back to me when you have the time. Thank you!

[2018-06-21 15:48] antony-jr commented on #22
@infinitywxrd Try the portable version , https://www.youtube.com/watch?v=nNfSyI_Q9SM0

[2018-06-21 18:59] infinitywxrd commented on #22
Thanks

On Thursday, June 21, 2018, Antony jr <notifications@github.com> wrote:

[2018-06-22 11:37] #22 closed, assigned to nobody

[2018-06-24 08:40] jordanhoxl commented on #17
Hey Anthony, the whole coding thing to me it’s just another language that I could never get it. Possible to help me recover an Instagram account password?
Thank you.

[2018-06-24 09:49] antony-jr commented on #17
@jordanhoxl you know that you are just trying hundreds of passwords until your account logs in successfully? , This type of attack is the safest and the most slowest one. You can only recover your account if the password is present in the wordlist. Are you sure you want to try this ? Because most of the time it fails if the wordlist is weak. ( You can create a wordlist from your last remembered pa

[2018-06-24 09:53] antony-jr commented on #17
I'm thinking about rising support for instagram-py with recovery option. But it might take some time so until then you have to use the old code.

[2018-06-24 09:59] jordanhoxl commented on #17
Hi Antony,

Thanks for the prompt reply. If that’s the case. Would you be able to hack
the ig account for me? I’m willing to pay for your help on that.

Thank you!

On Sunday, June 24, 2018, Antony jr <notifications@github.com> wrote:

[2018-06-24 12:59] antony-jr commented on #17
@jordanhoxl Thanks for the offer but thats **illegal** and I'm no good at this stuff. But I'm thinking about making this easier and less prone to crashes.

[2018-06-24 22:29] #17 closed, assigned to nobody

[2018-06-24 22:30] #13 closed, assigned to nobody

[2018-06-27 21:17] Laurenxx opened #23 "Instagram-py"
Hi,

What should I do if the account I’m trying to hack is inactive? Somebody took my account and I don’t think they’re using it, how should I get it back in this case?

[2018-06-28 05:28] antony-jr commented on #23
@Laurenxx Configure your **Tor Server** to use only the **exit nodes** which are located at the region where the account used to login in the past. Now use **Instagram-Py**(Depricated and Deleted , Sorry) to brute force your account and when it finds the password , You can login to your account.(This time your account will not blocked since instagram thinks that the tries are from your phone.)

**

[2018-06-28 05:28] #23 closed, assigned to nobody

[2018-07-03 05:08] Mehran opened #24 "instagram-py"
Hi , what happen to instagram-py ? i really love it .

[2018-07-03 11:34] antony-jr commented on #24
@Mehran Well it stopped working and I thought its the best time to figure something new without using so much server requirements. I think we ran out of servers because of the huge user base.

[2018-07-03 11:34] #24 closed, assigned to nobody

[2018-07-17 06:09] jesidosan opened #25 "discord username #"
what is your discord?

[2018-07-17 20:14] antony-jr commented on #25
https://discord.gg/RaQpnc

[2018-07-17 20:14] #25 closed, assigned to nobody

[2018-07-19 07:43] gingeyy opened #26 "how to ensure vpn and tor proxy working together?"
Hi,

I was running your instagram-py code and realised that, while my vpn and tor is connected simultaneously, there are still instances that it will not work, and pull out challenge_required when the password is found. Perhaps out of 20tries, only 5 would successfully intercept without the raising the login attempt alert. May I know what is the best way to go about solving this issue? Thank you.

[2018-07-19 13:14] antony-jr commented on #26
Unfortunately , Someone have to work on it. I will notify you if I find something useful.

[2018-07-19 13:14] #26 closed, assigned to nobody

[2018-07-21 07:10] muron16 opened #27 "Please help me broo"
I need to know the best Operating system for hack 2018 because i try in Kali Linux it failed bro

[2018-07-21 10:40] antony-jr commented on #27
Whats the challenges you faced when you tried installing Kali Linux ? Give me some details.

See [this](https://fossbytes.com/10-best-operating-systems-for-ethical-hacking-and-penetration-testing-2016/) blog post for more information on some alternatives to Kali Linux but please see that all other operating systems are very similar to Kali Linux and vice versa.(Because they all use the same kernel

[2018-07-21 10:40] #27 closed, assigned to nobody

[2018-07-25 01:56] briancanspit commented on #4
@Annedwards email me jasmineramona@protonmail.com

[2018-08-12 22:26] ProxySniper opened #28 "Instagram"
Hey I was wondering with your code, what are you actually able to do by hacking other peoples Instagram accounts? Like can I steal their username, post pics, etc?

[2018-08-13 02:40] antony-jr commented on #28
@ProxySniper Hmm... I just did it for fun , To be honest I did to test my own skills to implement a good hacking tool. You see there is a huge uprise of self-proclaimed hackers (I don't consider myself a hacker) who write code which don't really do the job it promised , Thus I thought I should do some real tool that people can use and not get fooled. To make it worse , These self-proclaimed hacker

[2018-08-13 02:40] #28 closed, assigned to nobody

[2018-08-13 03:55] ProxySniper opened #29 "Trouble"
Well I thank you for taking your time to make this code and respond to me. This is my first time ever trying to code and I’m having trouble, I got Kali Linux off of the Microsoft store and I applied the exact code in that you did in your screenshots, but when I enter the code it just says could not open lock file or unable to lock the administration. I’m not really sure how to fix this

[2018-08-13 04:30] ProxySniper commented on #29
Well I’m trying to use the Instagram-py portable but the link got deleted to it so it won’t work

[2018-08-13 10:15] antony-jr commented on #29
@ProxySniper You cannot get Kali linux from Microsoft store.  Try dual booting it , https://www.youtube.com/watch?v=NIRFKLcrF8M , And Also instagram-py will not work anymore that is why its deleted. But if you really want to try it then give this a try -> https://github.com/thelinuxchoice/instashell ( Mostly this won't work too. )

[2018-08-13 14:03] ProxySniper commented on #29
Ok, thanks for all the help. I’ll look around for some brute forces that might work

[2018-08-14 12:19] #29 closed, assigned to nobody

[2018-08-31 09:45] danielmalto commented on #4
Hi, how do i start installing instagram-py? Is there any kink to download or something? Where do i start? Need help thx

[2018-08-31 13:46] antony-jr commented on #4
@danielmalto The project is dead because it stopped working(Therefore you cannot download it but the source is still freely available.) , And @briancanspit please use your email since this is a public channel and so anybody can read it , Just for your safety.

[2018-09-12 02:06] lululey opened #30 "help hack ins"
Hi,
There's an ins account i wanna hack. It's not for commercial use or any celebrity. But i don't have much background on computer coding and stuff. I wanna know if you can help me hack that account and i can pay you back.

Thanks

[2018-09-12 08:43] antony-jr commented on #30
Same as https://github.com/antony-jr/ama/issues/4.

[2018-09-12 08:43] #30 closed, assigned to nobody

[2018-09-15 04:14] naserology opened #31 "Need some help"

[2018-09-15 04:17] #31 closed, assigned to nobody

[2018-09-27 15:48] zumaricale opened #32 "instagram hacking"
Hello sir,

I am interested in your article from https://null-byte.wonderhowto.com/ entitled "The Only Authentic Way to Hack Instagram!". I would like to speak with you (**privately** if possible) about using the method you describe, but i am really not able to get it done. I am willing to satisfy any **request** you ask me in order for **you** to use the method for me and give me the "result".  P

[2018-09-28 12:25] antony-jr commented on #32
@zumaricale I'm not gonna request you anything , Its a dead project , the tool is still available via pip but I highly doubt that it would work as it did before , The reason it fails now is that many people use the same method to attack Instagram and thus the method became invalid. But if you still want to give it a try , then try this [tool](https://github.com/thelinuxchoice/instashell) which use

[2018-09-28 12:25] #32 closed, assigned to nobody

[2018-09-28 20:37] tfranzese commented on #4
jasmineramona@protonmail.com is scammer

[2018-10-11 14:48] Gutlass opened #33 "Computer dummy"
I have zero computer experience and need to do this. Is there anyway of you helping threw the process via email or something? Thanks

[2018-10-11 15:29] antony-jr commented on #33
@Gutlass To do what exactly ?

[2018-10-11 15:42] Gutlass commented on #33
@Antony-jr Pretty much teach me how to use this program, I don’t have any experience
in terminal or anything like these programs. I’m trying to learn for
ethical reasons and a tutor would be very appreciated in assistance with a
few specific interests.

On Thursday, October 11, 2018, Antony jr <notifications@github.com> wrote:

[2018-10-12 13:11] antony-jr commented on #33
@Gutlass The program does not work anymore since many people used the same algorithm , In simple terms we will run out of tor IP's eventually and Instagram will block the attempts again. So we have to find a new way. If you still want to experiment with this then let me know. :+1:

[2018-10-12 13:46] Gutlass commented on #33
Can I email your proton address??

On Friday, October 12, 2018, Antony jr <notifications@github.com> wrote:

[2018-10-12 14:17] antony-jr commented on #33
@Gutlass Yes you can. But I kinda reply late when its on email , If you want to get a fast response then post it on github , If its a private message then please do mail me.

[2018-10-26 12:28] bonalas opened #34 "ig account hack"
hey sir.. i would lke to ask you for help.. i have been monitoring an account with the username that i wanted for almost 3 years now. it is an inactive account with 0 followers, 0 followings and 0 posts. I really want that account so badly as the name is sentimental for myself. Hope you notices my message.. i have ran out of options..

[2018-12-18 15:08] sohamn21 commented on #34
hey if you have kali linux here is the help
https://github.com/thelinuxchoice/instainsane

instainsane is an Shell Script to perform multi-threaded brute force attack against Instagram, this script can bypass login limiting and it can test infinite number of passwords with a rate of about 1000 passwords/min with 100 attemps at once.

Legal disclaimer:

Usage of InstaInsane for attacking targets wi

[2018-12-18 18:31] #34 closed, assigned to nobody

[2018-12-18 18:31] #33 closed, assigned to nobody

[2018-12-23 21:49] mcgregor7 commented on #34
same thing for me...please hit me up you can help me too,

[2018-12-27 10:11] karolinabenge opened #35 "help"
hello ,can you help me with some password ?

[2019-01-22 18:43] darknitescs opened #36 "Instagram"
Hey does this hack actually work and will the person know I hacked their account ?

[2019-01-23 07:34] antony-jr commented on #36
@darknitescs Hmm.. the software is discontinued and that means it does not work anymore , you can wait until a new program is created by anyone who is trusted. And if I assume that the program works then , yes the person will not know if his/her account is hacked.
You have to try in one of your fake accounts or your account to actually test if the program works. And as I said before the support fo

[2019-01-23 07:34] #36 closed, assigned to nobody

[2019-02-06 12:16] OH101 opened #37 "OH101"
How do I gain access to private Instagram photos when I already have their photo IDs?

[2019-02-17 17:40] rayhanjerome opened #38 "Is it possible to see posts through private account without following them?"
Is there any way to do it? If there is, can you please do it for me? Or at least tell us how to do it step by step. Do we need kali linux or whatever OS to do that? I really need to know this cuz im really curious about how this would work haha. Thanks before.

[2019-02-17 18:47] antony-jr commented on #38
@rayhanjerome That would be impossible unless you have some kind of access to the target's device or a backdoor in the Instagram's servers(which is improbable). The former case , the target device just have to install a third party app somehow(you could use some social engineering). Or if you are on the extreme side , you could try using a femto cell which I have no experience at all. If you could

[2019-02-17 18:47] #38 closed, assigned to nobody

[2019-02-17 18:49] antony-jr commented on #37
@OH101 No , I don't think so , no until someone does some research. No one has free time. Sorry :cry:

[2019-02-17 18:49] #37 closed, assigned to nobody

[2019-02-17 18:50] antony-jr commented on #35
@karolinabenge I don't get your question but if you are referring to hacking Instagram password then I can't , because I don't have the time or dedication to help you. Sorry! :cry:

[2019-02-17 18:50] #35 closed, assigned to nobody

[2019-02-17 18:58] miloswg opened #39 "instagram hack"
can u hack instagram account and give me password and how much would cost

[2019-02-18 05:05] vimalhack007 commented on #18
sir why we need victim verification if we doing Bruteforce attack. Bruteforce attack guess itself the right password right? i wanted to hack an inactive Instagram account.  Sorry for my bad English

-thanks sir

[2019-02-18 12:19] antony-jr commented on #39
Same as https://github.com/antony-jr/ama/issues/4#issuecomment-370117814

[2019-02-18 12:19] #39 closed, assigned to nobody

[2019-02-18 12:52] antony-jr commented on #18
@vimalhack007 The challenge in brute force attack on a web service is how we check if a password is authentic or not. And so we do this by directly connecting with the web service(in this case Instagram). So the whole password authentication is done on the server side , we just need to observe the cues in the server response in order to check if a password is right or wrong. So if Instagram detect

[2019-02-18 12:56] vimalhack007 commented on #18
Co can't we do with inactive Instagram account? Is there any other way to
do that ?😅

On Mon, Feb 18, 2019, 6:22 PM Antony jr <notifications@github.com wrote:

[2019-02-18 16:35] antony-jr commented on #18
@vimalhack007 None , to the best of my knowledge. Inactive Instagram accounts are pretty much lost. Unless you can contact Instagram to claim it legally.

[2019-02-18 16:39] vimalhack007 commented on #18
Thanks for the information dude

On Mon, Feb 18, 2019, 10:05 PM Antony jr <notifications@github.com wrote:

[2019-03-27 22:51] Nealathon opened #40 "Hacking"
Hello Antony,
I am trying to use your hacking tool, but I am unable to figure out where I'm going wrong. I'm not a hacker by nature, and am kinda lost. Is there anyway I can get in contact with you over text or something so I can have help when I'm doing this?

[2019-03-27 22:56] Nealathon commented on #40
If you could text me, my number is 18153558572

[2019-03-28 13:54] antony-jr commented on #40
@Nealathon ,please don't post numbers in a public page , see this , https://github.com/antony-jr/ama/issues/4#issuecomment-370117814

[2019-03-28 13:54] #40 closed, assigned to nobody

[2019-03-28 13:55] Nealathon commented on #40
I'm sorry. But is there anyway you can help me? I'm willing to pay and everything

[2019-03-28 13:56] Nealathon commented on #40
I’n sorry. Is there anyway you can help me? I’m willing to pay

[2019-03-28 14:34] antony-jr commented on #40
@Nealathon sorry , its same as I said in https://github.com/antony-jr/ama/issues/4#issuecomment-370117814

[2019-09-22 12:49] shubhambishnoi opened #41 "instagram-py"
getting this error again and again after reinstalling and executing all steps repeatedly can u pls tell me where I am doing it wrong btw I am not using kali I am on ubuntu 16.0

Instagram-Py 2.0.7 ,  Slick Instagram brute force command line tool.
Copyright (C) 2018 The Future Shell , Antony Jr.

[+] Started @ 2019-09-22 23:42:21.499646
fatal error:: password list not found at /path/to/password_lis

[2019-09-22 13:02] shubhambishnoi opened #42 "password list"
can u give me the link to download a password list as I don't have one on my system

[2019-09-22 13:19] #41 closed, assigned to nobody

[2019-09-22 13:19] #42 closed, assigned to nobody

[2019-09-22 13:22] shubhambishnoi commented on #5
you should have a file with common passwords in it which will be used for brute force attack so download a password text file containing common passwords from github and then input the address of downloaded path as the last argument to the command

[2019-09-22 13:23] shubhambishnoi opened #43 "Getting tor error"
how to rectify this error

fatal error:: Tor configuration invalid or server down :: Authentication failed: unable to read '/var/run/tor/control.authcookie' ([Errno 13] Permission denied: '/var/run/tor/control.authcookie')

[2019-09-22 13:32] #43 closed, assigned to nobody

[2019-09-22 14:14] antony-jr commented on #41
@shubhambishnoi Hmm... Instagram-Py is not supported and was dropped a long time ago. The support was dropped because I did not want to abuse the TOR project.

[2019-11-07 23:32] layzvoxone opened #44 "Can I use several wordlist files at once?"
Hey! I started using Instagram-py and it works great, but it's a pain in the ass to change the wordlist every time one is over.
Is there a way to use several wordlist files at once?

[2019-11-08 02:58] antony-jr commented on #44
@layzvoxone simply use multiple instance(That's the only solution). Is this tool still working? **I dropped support for it a long time ago.**

[2019-11-08 02:58] #44 closed, assigned to nobody

[2019-11-08 14:56] layzvoxone commented on #44
Okay thank you! Yeah it still works, although did you make another tool to crack instagram passwords?
Oh and I have a question, is there a way to make the delay shorter between the tries? It's currently a 3 seconds delay for me

[2019-11-08 15:50] antony-jr commented on #44
No, But I do have a plan to hack any Instagram account instantly(or simply spy on their DM) when they are connected to your network. So you simply have to convince your victim to use your WIFI connection or use the evil twin method to hijack their WIFI connection. But I think it would take a lot of time and I don't have time for it. *But its way better than brute force*. I might implement it somet

[2019-11-08 15:54] layzvoxone commented on #44
Nice that would be super cool!

[2020-04-17 10:51] Knrd2 opened #45 "instainsane problem"
Hi, thanks for providing such great work!
I have a problem with the instainsane project where the command stops with the following message:
./instainsane.sh: line 575: [: 100: unary operator expected

Do you know how to fix this? Ive tried to adapt the script but wasnt successfull...

Thanks!

[2020-04-17 13:13] antony-jr commented on #45
@Knrd2 why you asking me this, I'm not the maintainer. Please contact https://github.com/thelinuxchoice

IMO that guy is just mysterious, I would personally not use that tool since it won't work for sure, Trust me(Instagram fixed it a year ago). Nothing personal, just my two cents on the issue.

[2020-04-17 13:13] #45 closed, assigned to nobody

[2020-04-27 11:49] Knrd2 opened #46 "old project support"
Hey, ive read about your instagram-py project. Is it still working or do you have any other suggestions about good programs like yours? Ive tried out a lot already to find one password but wasn't successful, like a quote of yours is saying "Why would people even use these tools which does not even follow a good code base!"

Appreciate your answer!

[2020-04-27 13:47] antony-jr commented on #46
@Knrd2 Some folks say that the tool is still working but I dropped the project because I didn't want to abuse the Tor project. Also if large enough users use the tool at the same time, There is a high chance that all IPs in the Tor network might get blocked. It is also worth to note that this is officially fixed by **Facebook**(See https://github.com/umeshshinde19/InstagramBrute and https://github

[2020-04-27 13:47] #46 closed, assigned to nobody

[2020-06-20 09:29] theomgdev opened #47 "Why do you remove instagram-py?"

[2020-06-20 15:50] antony-jr commented on #47
Because I don't want extra work. I get a lot of questions on that on how to use it. People who don't know anything about programming come in hopes for cracking a instagram account. But only experts know that brute force is pretty lame and a slow process. So I deleted the project to avoid giving people **false hopes**.

[2020-06-20 15:50] #47 closed, assigned to nobody

[2020-06-30 04:36] gucciguscrain opened #48 "Help"
Hey. I need your help. A long time ago, when I was really young, I made an instagram account and eventually forgot about it and made a new one. Now that I'm older, people I know look up my name and see the old account and they make fun of the things I used to post. People really bully me about it. I have tried to remember the password I made but I tried everything and I can't remember. I cant reme

[2020-06-30 06:59] antony-jr commented on #48
@gucciguscrain I really like to help but I think we can't do anything about inactive accounts. We can't trick the system so to speak but only trick people, If no people has the password or the verification medium then your account is simply locked forever.

**However, you can email instagram support directly explaining your situation and they will delete your account directly. I've done this in th

[2020-06-30 06:59] #48 closed, assigned to nobody

[2020-06-30 16:00] gucciguscrain commented on #48
Worth a shot i guess, thank you.

[2021-02-11 20:02] #5 closed, assigned to nobody

[2021-06-06 19:37] lucidtyper opened #49 "What engaged to start using linux? And how did you learn?"
I'm just curious how did you start with your adventure in the Linux world :smile:

[2021-06-06 22:17] antony-jr commented on #49
I started out with Windows (*Windows XP*) like most people. When I was young all I wanted was to play games that the cool kids were playing. **Ignorance is a bliss, it was wonderful because everything seemed so simple back then (I guess tech back then was simple as well [2000s I guess]).**

Like the majority of the population **linux** was never in my vocabulary. I did not even knew there was OSes

[2021-06-06 22:17] #49 closed, assigned to nobody

[2021-07-18 12:52] ghost opened #50 "keeps repeating same pass with varying ip"
![IMG_20210718_182037](https://user-images.githubusercontent.com/87435145/126067723-114e6976-ded0-45e9-9978-4e044d6be54f.jpg)
can i make it brute only one time instead of 20-30 check you know pass list contains more than million pass it gonna take ages. ps i love it thanks

[2021-07-18 13:00] antony-jr commented on #50
It is keeping trying the same pass because Instagram is blocking all TOR IPs. Sorry I dropped support for this long time ago because brute force is not practical and time consuming. Better try some other method like Man in the middle attack with your evil AP.

[2021-07-18 13:00] #50 closed, assigned to nobody

[2021-08-23 09:27] princeofhacking opened #51 "i want to just say thanks for your tool insta insane:)"

[2021-08-23 09:27] #51 closed, assigned to nobody

[2021-08-23 10:12] antony-jr commented on #51
@princeofhacking Insta insane is not made by me. It copies my algorithm but it's a bash rewrite. Also I don't think the tool is **NOT** capable of cracking any instagram account because **brute force attacks have very low success rate** and **insta insane gets false positives because it uses multi threading without any concern. It simply copied my algo, it needs to modify it to support multi threa

[2022-10-05 16:26] MammutReal opened #52 "Problem in Qt Creator 8.0.1 (with Qt 6.4)"
Hi,

I try to use QArchive with CMake.

I created a new qt console test project and I copy-pasted almost everything from this page:
https://antonyjr.in/QArchive/docs/AddingQArchive.html

My root's CMakeLists.txt:
[code]

My CMakeLists.txt in the libs folder:
[code]

And as soon as I save the CMakeLists.txt, I get this error:
`C:\Projects\MyCoolApplication\libs\QArchive\CMakeLists.txt:98: error: Ta

[2022-10-06 05:50] antony-jr commented on #52
@MammutReal QArchive depends on libarchive, have you installed that? You have to install along with all the dependencies of libarchive too.

See libarchive build instructions for Windows: https://github.com/libarchive/libarchive/wiki/BuildInstructions#building-on-windows

Windows is still a mess for software development for this reason. Consider learning Conan C++ Manager which might make life eas

[2022-10-06 06:09] MammutReal commented on #52
@antony-jr: oh, I didn't install it, sorry. I will look into those instructions, thanks for the link.

"Windows is still a mess for software development for this reason"

Yeah, I'm experiencing that right now. It was much easier with python, just created a venv, then pip install, and it was done.
But I have to learn the c++ way now. I'll look into the Conan c++ manager, too.

"Anyways I will try t